extends ../layout

block style
    link(rel="stylesheet", href="/stylesheets/loginSignup/login.css")

block content
    .container 
        h1 SignUp 
        form(action="/users/loginSignup/dc", method="post",enctype="multipart/form-data") 
            label(for="image") Upload Image
            input(type="file", name="image" ,id="image",placeholder="Enter Image",required)
            input(type="text" ,name="firstname" ,placeholder="Enter Firstname",required)
            input(type="text" ,name="lastname" ,placeholder="Enter Lastame",required )
            input(type="text" ,name="experience" ,placeholder="Enter Experience",required )
            input(type="hidden" ,name="speciality" ,value='',id ="speciality" )
            br
            | Select Speciality:
            select#mySelect
                option(selected='') Dentist
                option General Physician
                option Dermatologist
                option ENT
                option Paediatrician
                option Neurologist
            br 
            input(type="text" ,name="number" ,placeholder="Enter Number",required )
            input(type="email" ,name="email" ,placeholder="Enter Email",required )
            input(type="text" ,name="address" ,placeholder="Enter Address",required )
            input(type="text" ,name="age" ,placeholder="Enter Age",required )
            input(type="text",name="username",placeholder="Enter username",required)
            input(type="password",name="password",placeholder="Enter password",required)
            button.btn(onclick="myFunction()")
                |SignUp
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
    script(src="/javascripts/signdc.js")