

.main_body{
    background-color: rgb(238, 226, 226);
    height: 100vh;
    background-size: cover;
    margin-top: -4%;
}
input{
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    outline:none;
    background-color:transparent;
    border-bottom-style: groove;
}
label{
margin: 10px;
}
.login{
    background-color: rgb(250, 245, 245);
}
.login_h2{
    margin-left: 5%;
}
.login_detail{
    padding: 5% 0 0 0;
}

.signup{
  background-color: rgb(250, 245, 245);
  margin: 0 13% ;
}
.sign_up_detail{
  padding: 0 0 0 13%;
}
.sign_up_image{
    margin: 15% 0 0 0;
}
.signup_image_link{
    margin: 5% 0 0 15%;
    text-decoration: none;
    color: #4d4a8f;
    border-bottom-style:double;
}
.signup_button{
    margin: 5% 0 0 5%;
}

  @media (max-width:600px) {
    img{
      width: 90%;
    }
    .main_body{
      height: 100%;
    }
  }

